---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            {% assign parent = site.projects | where: "group_parent", true | find: "group_id", page.group_id %}
            <h1 class="group-name"><a href="{{ parent.url }}">{{ parent.title }}</a></h1>
            <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>

        </div>
